[submodule "packages/manic"]
	path = packages/manic
	url = https://github.com/manic-js/manic.git
[submodule "packages/create-manic"]
	path = packages/create-manic
	url = https://github.com/manic-js/create-manic.git
[submodule "packages/providers"]
	path = packages/providers
	url = https://github.com/manic-js/providers.git
[submodule "packages/tui"]
	path = packages/tui
	url = https://github.com/manic-js/tui.git
[submodule "plugins/api-docs"]
	path = plugins/api-docs
	url = https://github.com/manic-js/plugin-api-docs.git
[submodule "plugins/mcp"]
	path = plugins/mcp
	url = https://github.com/manic-js/plugin-mcp.git
[submodule "plugins/mdx"]
	path = plugins/mdx
	url = https://github.com/manic-js/plugin-mdx.git
[submodule "plugins/seo"]
	path = plugins/seo
	url = https://github.com/manic-js/plugin-seo.git
[submodule "plugins/sitemap"]
	path = plugins/sitemap
	url = https://github.com/manic-js/plugin-sitemap.git
[submodule "plugins/tailwind"]
	path = plugins/tailwind
	url = https://github.com/manic-js/plugin-tailwind.git
[submodule "plugins/unocss"]
	path = plugins/unocss
	url = https://github.com/manic-js/plugin-unocss.git
[submodule "packages/bundler"]
	path = packages/bundler
	url = https://github.com/manic-js/bundler.git
	branch = canary
